<div class="well">
  <h2>Job Tracker</h2>
  <p>
    <a href="/tags/new">Add a classification/ tag you would like to reference</a>
  </p>
</div>

<div class="well">
  <form class="" action="/" method="post">
    <h3>Your form</h3>
    <label for="">Something here soon:</label>
    <input type="text" name="" value="">
    <button class="btn btn-info" type="button" name="button">Submit</button>
  </form>
</div>
