<div class="well">
  <h2>Job Tracker</h2>
  <p>

  </p>
  <p>
    <a href="/tags">View or add a classifications/tags you would like to reference.</a>
  </p>
  <p>
    <a href="/contacts">Add a new contact.</a>
  </p>
  <p>
    <a href="/openings">Add a new opening/job search.</a>
  </p>
  <p>
    <a href="/organizations">Add a new organization you would like to follow.</a>
  </p>
</div>
