<div class="well">
  <form class="" action="/link_delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <% if @links.any? %>
      <div class="form-group">
        <h4>Select links to delete:</h4>
        <% @links.each do |link| %>
        <label for="link_ids[]"><%= link.text %> <input type="checkbox" id="link_ids[]" name="link_ids[]" value="<%= link.id %>"></label>
        <% end %>
      </div>
    <% end %>
    <button type="submit" name="button" class="btn">Delete Selected</button>
  </form>
</div>
