<div class="well">
  <% if @tags.any? %>
    <ul>
      <% @tags.each do |tag| %>
      <li><a href="/single_tag/<%= tag.id %>"><%= tag.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <h3>No tags yet.</h3>
  <% end %>


</div>

<div class="well">
   <form class="horizontal-inline" action="/tags/new" method="post">
     <label for="name">Category/Tag Name:</label>
     <input type="text" id="name" name="name">
     <button type="submit" name="button" class="btn">Submit</button>
   </form>
</div>

<div class="well">
  <h4>Delete a tag.</h4>

  <form class="horizontal-inline" action="/single_tag" method="post">
    <input type="hidden" name="_method" value="delete">
    <% if @tags.any? %>
      <div class="form-group">
        <% @tags.each do |tag| %>
        <label for="tag_ids[]"><%= tag.name %> <input type="checkbox" id="tag_ids[]" name="tag_ids[]" value="<%= tag.id %>"></label>
        <% end %>
      </div>
      <button class="btn" type="submit" name="button">Delete</button>
    <% end %>
  </form>
</div>
